<html>
    <head>
        <meta charset="utf8">
        <title>Catalogo Producto Web</title>
    </head>
    <body>
        <h1>Formulario de ingreso</h1>
        <form action="ingresar-usuario" method="POST">
            <input type="mail" name="email" placeholder="Ingrese su mail">
            <input type="password" name="contrasena" placeholder="Ingrese su contraseña">
            <input type="submit">
        </form>

    </body>
</html>